* {
  padding: 0;
  margin: 0;
}
body {
  height: 100vh;
  width: 100vw;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 15%;
}
header h1 {
  margin-top: 10px;
  font-size: 1.5em;
}
nav {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  width: 100%;
  height: 70%;
}
li {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8em;
  background-color: #eaedef;
  width: 25%;
  height: 100%;
  border-right: 1px solid #a0a3a5;
}
#last {
  border-right: none;
}
main {
  display: flex;
  flex-direction: row;
  background-color: #f2f4f7;
  width: 100%;
  height: 80%;
}
section {
  width: 50%;
  padding: 20px;
  background-color: #0d90e8;
}
section p {
  width: 100%;
  height: 50%;
  border: 2px solid black;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #454647;
  width: 100%;
  height: 5%;
}

/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
